body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #b496adbb;
}

h1 {
    text-align: center;
    background-color: #87b496bb;
    margin: 0px;
}

h2 {
    margin-top: 30px;
    color: #333;
}

a {
    text-decoration: none;
    transition: color 0.3s ease; 
}

a:hover {
    text-decoration: underline;
}

#instagramLink {
    color: #943f18;
}

#whatsappLink {
    color: rgb(12, 184, 12); 
}

#numero {
    color: #060d01bb;
}